#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-producto img{
    width: 100px;
}
.card-producto{
    border: 2px solid;
    padding: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: ghostwhite;
}
header{
    display: flex;
    gap: 100px;
    background-color: green;
    align-items: center;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: left;
}
#barrabusqueda{
    justify-content: center;
}